// Ces sont des variables d'environnement à remplir

// Nom d'utilisateur de la base des données
DB_USER = '#####'

// Mot de passe de la base des données
DB_PASSWORD = '#####'

// Nom de la base des données
DB_NAME = '#####'

// votre clé secrète aléatoire associé au token
SECRET_WORD_TOKEN = '#############################'
