.logo {
    width: 13em;
}

.connect-form {
    border: none;
    background: var(--secondary-lessClear);
    min-width: 350px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

li {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.2s;
    font-weight: bold;
}

.active-btn {
    background: whitesmoke;
    color: var(--primary-light);
}

li:hover {
    transform: translateX(4px);
}

input {
    border-radius: 5px;
}

input:last-child {
    width: 100px;
}

/* @media screen and(max-width: 550px) {} */